{%extends "base.html"%}

{%block content%}
 <body>
   <h1 class='blink'>IMAGE CAPTIONING<h1>
<p class= typewriter style="background-color: aqua">
Image summarization means generating automatically a summary or description for an image. It uses deep learning, natural language processing and computer vision to generate description or summary. We have used Keras and  RNN, such as LSTM method for deep learning. The idea is based on the detection of the object and the actions in the input images. We have to train the images by loading the images to model and thus model does some processing and generating a summary or description as per training. For a better result, It requires very huge computation power and large dataset. The objective is to understand the applications which can be useful in various ways. It can be useful in self-driving cars to boost the self-driving system, assistant to visually impaired people to walk without human support and also helpful for google image</p> 


 </body>
{%endblock%}